
body{
  margin:0;
  padding: 0;
  background-color:#E1F2FB;
  }
img{
  text-align: center;
}
footer{
  background-color: #10316B;
  padding-left: 5%;
  margin-bottom:-2%;
}
hr{
  color: #E8E8E8;
}
h3{
  margin-top:20%;
  margin-left:45%;
  text-align:center;
}
.heading{
margin:0;
padding: 0;
}
.admin{
  background-color: #fff;
}
.caption{
margin-top:-1%;
padding-top: 2%;
  background-color: #10316B;
  text-align: center;
  color:#fff;
    font-family: 'Playfair Display', serif;
  letter-spacing: 3;
}
.main-content{

    background-color: #fff;
  background-image:url("college.jpg");
  text-align: center;
  padding-top:  5%;
font-family: 'Bona Nova', serif;
}

.navbar{
  padding-left: 0;
  padding-right: 4.5rem;
}
.navbar-brand{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bolder;
  color: white;
  position: relative;
  left: 20px;

}

.nav-item{
  padding: 0 18px 18px 0;
}

.nav-link{
  font-family: 'Playfair Display', serif;
  font-size: 1.2rem;


}
.admin{
  text-align: center;
  padding-left:10%;
  margin-left:15%;
}
.inputs{
  display: grid;
   background-image: linear-gradient(to bottom right, #084177, #00A8CC);
  width:70%;
  margin-left:37.5%;
  margin-bottom: 30%;
  margin-top: 3%;
  padding: 5%;
  color:white;

}
.image{
  display:inline-block;
}
.contact{
  color:#fff;
}

@media screen and (max-width: 991px) {
.inputs{
  display:block;
  width:100%;
  margin-left:26%;
}
.admin{
  display: block;
}
.student{
    display: block;
}
element.style{
    display: block;
}
}

@media screen and (max-width: 750px) {
  .inputs{
    display:block;
    width:100%;
    margin-left:26%;
  }
  .admin{
    display: block;
  }
  .student{
      display: block;
  }
  element.style{
      display: block;
  }
}
@media screen and (max-width: 655px) {
  .inputs{
    display: grid;
  }
}
@media screen and (max-width: 600px) {
  .inputs{
    display: grid;
  }
}
@media screen and (max-width: 550px) {
  .inputs{
    display: grid;
  }
}
@media screen and (max-width: 530px) {
  .inputs{
    display: grid;
  }
}
@media screen and (max-width: 460px) {
  .inputs{
    display: grid;
  }
}

@media screen and (max-width: 400px) {
  .inputs{
    display: grid;
  }
}

@media screen and (max-width: 340px) {
  .inputs{
    display: grid;
  }
}
