.sidebar .nav{
  background-color: #1E5128;
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
    background-color: #1E5128;
    border-left-color: #D3E4CD;
}
.sidebar{
    background-color: #1E5128;
}
#wrapper .navbar {
      background-color: #D3E4CD;
}

.btn{
      background-color: #1E5128;
}
.btn:hover{
    background-color: #D3E4CD;
}
.btn::after{
      background-color: #1E5128;
}
#wrapper .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #1E5128;
    position: fixed;
    left: 0;
  }
  th{
    background-color:  #D3E4CD;

  }
.btn-danger{
  background-color: #B91646;
}
.btn-danger:hover{
    background-color: red;
}
.btn-danger::after{

    background-color: #B91646;
}
